<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.petToyShop.Login.mapper.UserMapper">
        <select id="getUserById" parameterType="string" resultType="String">
            SELECT name FROM user_list WHERE id = #{id}
        </select>

        <select id="LoginStart" parameterType="com.example.petToyShop.Login.vo.User" resultType="com.example.petToyShop.Login.vo.User">
            SELECT * FROM user_list
            WHERE id = #{id}
            and pw = #{pw}
        </select>

        <insert id="insertUser">
            INSERT INTO users(username, email) VALUES(#{name}, #{email})
        </insert>

        <update id="updateUser">
            UPDATE users SET username = #{name}, email = #{email} WHERE id = #{id}
        </update>

        <delete id="deleteUser">
            DELETE FROM users WHERE id = #{id}
        </delete>
</mapper>

