<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.petToyShop.Login.mapper.UserMapper">

        <select id="Login" parameterType="com.example.petToyShop.Login.vo.User" resultType="com.example.petToyShop.Login.vo.User">
            SELECT * FROM user_list
            WHERE id = #{id}
            and pw = #{pw}
        </select>

        <insert id="SignUp" parameterType="com.example.petToyShop.Login.vo.User">
            INSERT INTO user_list (seq_no, name, id, pw, tel, address, email) VALUES( 2, #{name}, #{id}, #{pw}, #{tel}, #{address}, #{email} )
        </insert>

</mapper>

